.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1 / 3;
    grid-row: 1;
}
.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.three {
    grid-row: 2 / 5;
    grid-column: 1;
}
.four {
    grid-column: 3;
    grid-row: 3;
}
.five {
    grid-column: 2;
    grid-row: 4;
}
.six {
    grid-column: 3;
    grid-row: 4;
}

.wrapper div{
    border: 1px solid red;
}

.task1{
    width: 300px;
}

.task1 dl{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 10px; */
    text-align: center;
}

.task1 dl dt{
    grid-column: 1;
    font-weight: bold;
}

.task1 dl dd{
    grid-column: 2;
    margin: 0;
}

.task2{
    width: 300px;
    height: 300px;
    border: 2px solid #7FE0C3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    line-height: 100px;
    
}

.task2 div{
    border: 1px dotted #7FE0C3;
    border-collapse: collapse;
}

.task2 .mid{
    background-color: #00A35B;
}

.task3{
    display: grid;
    grid-template-columns: repeat(6,140px);
    grid-auto-rows: minmax(140px,auto);
    gap: 20px;

}

.task3 div{
    background-color: #3174DC;
    padding: 10px;
    color: #fff;
    font-size: larger;
    border-radius: 5px;
}

.task3 div:nth-of-type(1){
    grid-row: 1/3;
    grid-column: 1/3;
}

.task3 div:nth-of-type(2){
    grid-row: 1;
    grid-column: 3/5;
}

.task3 div:nth-of-type(2){
    /* grid-row: 1; */
    grid-column: 3/5;
}

.task3 div:nth-of-type(5){
    grid-row: 2/4;
    grid-column: 3;
}

.task3 div:nth-of-type(8){
    grid-row: 2;
    grid-column: 4;
}

.task3 div:nth-of-type(7){
    grid-row: 2/4;
    grid-column: 5/-1;
}

.task3 div:nth-of-type(9){
    grid-row: 3;
    grid-column: 1;
}

.task3 div:nth-of-type(10){
    grid-row: 3;
    grid-column: 2;
}

.task3 div:nth-of-type(6){
    grid-row: 3;
    grid-column: 4;
}

.task4{
    margin-top: 10px;
    display: grid;
    gap: 10px;
}
.task4 .br10{
    border-radius: 5px;
    padding: 5px;
}
.task4 .header,.task4 .footer{
    background-color: #999999;
}

.task4 .sidebar1,.task4 .content{
    background-color:#444444;
}

.task4 .sidebar2{
    background-color:#CCCCCC;
}

@media screen and (min-width:700px){
    .task4{
        grid-template-columns: 1fr 3fr 1fr;
    }
    .task4 .header{
        grid-row: 1;
        grid-column: 1/4;
    }
    
    .task4 .sidebar1,.task4 .content,.task4 .sidebar2{
        grid-row: 2;
    }
    
    .task4 .footer{
        grid-row: 3;
        grid-column: 1/4;
    }    
}

@media screen and (min-width:600px) and (max-width:700px){
    .task4{
        grid-template-columns: 1fr 5fr;
    }

    .task4 .header{
        grid-row: 1;
        grid-column: 1/4;
    }
    
    .task4 .sidebar1{
        grid-row: 2;
        grid-column: 1;
    }
    .task4 .content{
        grid-row: 2;
        grid-column: 2/4;
    }
    
    .task4 .sidebar2{
        grid-row: 3;
        grid-column: 1/4;
    }    

    .task4 .footer{
        grid-row: 4;
        grid-column: 1/4;
    }    
}

@media screen and (max-width:600px){
     
}
