.task1{
    font-family: 'Architects Daughter';
    
    
}

.task1 h2{
    writing-mode: vertical-lr;
    color: #03A9F4;
    font-size: 50px;
    float: left;
}

.task1 p:nth-of-type(2){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task1{
    visibility: hidden;
}

.task2 div div{
    color: #fff;
    font-weight: bold;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
}

.task2 #content div:nth-of-type(2){
    
    background-color: #03A9F4;
    border: 1px solid #03A9F4;
    border-radius: 100%;
}
.task2 #content div:nth-of-type(3){
    position: relative;
    left: 50px;
}

.task2 #content div:nth-of-type(3)::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 100px solid #CF2323;
    border-right: 100px solid #DFDF43;
    border-bottom: 100px solid #008001;
    border-left: 100px solid #4847B2;
    z-index: -1;
    /* border-radius: 100%; */
}

.task2 #content div:nth-of-type(4){
    
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    border: 75px solid #E74C3C;
    border-radius: 100%;
    color: #000;
    
    /* border-radius: 100%; */
}

.task2 #content div:nth-of-type(4)::after{
    content: "";
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    
    /* border-radius: 100%; */
}

/* .task2{
    visibility:  hidden;
} */

.task3 button{
    color: #F8AC5A;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #F8AC5A;
    border-radius: 10px;
}

.task3 button:hover{
    background-color: #F8AC5A;
    color:#000
}

.task3 button:active{
    background-color: #ccc;
}

.task4{
    color: #428BCA;
}



.task4 ul{
    display: flex;
    padding: 0;
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
}
.task4 ul li{
    list-style-type: none;
    padding: 10px 20px;
    border-collapse: collapse;
}

.task4 ul li a{
    color: #428BCA;
    text-decoration: none;
}

.task4 ul li:nth-of-type(1){
    border-top: 1px solid  #ccc;
    border-left: 1px solid #ccc;
    /* border-bottom: 5px solid #f00; */
    border-right: 1px solid #ccc;
    border-radius: 5px 5px 0 0 ;
}

.task4 ul li:nth-of-type(1) a{
    color: #000;
}