.tbox{
    width: 100%;
    height:100px;
    
    border: 2px solid #f00;
}
.left{
    height: 100%;
    background-color: #ddd;
}
.right{
    height: 100%;
    background-color: #aaa;
}

.mid{
    height: 100%;
    background-color: #eee
}

.task1_1_1 .left{
    float: left;
    width: 30%;
}

.task1_1_1 .right{
    margin-left: 30%;
}

.task1_1_2{
    /* 父元素要设置relative 子元素设置absolute 否则会按照浏览器作为父元素 */
    position: relative;
}
.task1_1_2 .left{
    position: absolute;
    height: 100px;
    width: 30%;
}

.task1_1_2 .right{
    margin-left: 30%;
}

.task1_1_3{
    display: flex;
}

.task1_1_3 .left{
    width: 30%;
}

.task1_1_3 .right{
    width: 70%;
}

.task1_1_4{
    display: grid;
    grid-template-columns: 30% 70%;
}

.task1_2_1 .left{
    float: left;
    width: 300px;
}

.task1_2_1 .right{
    margin-left: 300px;
}

.task1_2_2 {
    position: relative;
}

.task1_2_2 .left{
    position: absolute;
    width: 300px;
}

.task1_2_2 .right{
    margin-left: 300px;
}

.task1_2_3{
    display: flex;
}

.task1_2_3 .left{
   flex: 0 0 300px;
}

.task1_2_3 .right{
    flex: 1 1;
}

.task1_2_4{
    display: grid;
    grid-template-columns: 300px auto;
}



.task1_3_1 .right{
    float: right;
    width: 300px;
}

.task1_3_1 .left{
    width: calc(100% - 300px);
    display:inline-block;
}

.task1_3_2{
    position: relative;
}

.task1_3_2 .right{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}

.task1_3_2 .left{
   width: calc(100% - 300px);
   display: inline-block;
}

.task1_3_3{
    display: flex;
}

.task1_3_3 .right{
    width: 300px;
}

.task1_3_3 .left{
    width: calc(100% - 300px);
}

.task1_3_4{
    display: grid;
    grid-template-columns: calc(100% - 300px) 300px;
}

.task1_4_1 .left{
    float: left;
    width: 200px;
}

.task1_4_1 .mid{
    display: inline-block;
    width: calc(100% - 400px);
    /* margin: 0 200px; */
    
}
.task1_4_1 .right{
    float: right;
    width: 200px;
}

.task1_4_2{
    position: relative;
}

.task1_4_2 .left{
    width: 200px;
}

.task1_4_2 .mid{
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 400px);
}
.task1_4_2 .right{
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
}

.task1_4_3{
    display: flex;
}

.task1_4_3 .left{
    flex: 0 0 200px;
}

.task1_4_3 .mid{
    flex: 1 1 100%;
}
.task1_4_3 .right{ 
    flex: 0 0 200px;
}

.task1_4_4{
    display: grid;
    grid-template-columns: 200px calc(100% - 400px) 200px;
}

.task1_5_1 .left{
    float: left;
    width: 200px;
}

.task1_5_1 .mid{
    float: left;
    width: 200px;
}

.task1_5_1 .right{
    float: left;
    width: calc(100% - 400px);
}

.task1_5_2{
    position: relative;
}

.task1_5_2 .left{
    width: 200px;
}

.task1_5_2 .mid{
    position: absolute;
    top: 0;
    left: 200px;
    width: 200px;
}

.task1_5_2 .right{
    position: absolute;
    top: 0;
    right: 0px;
    width: calc(100% - 400px);
}

.task1_5_3{
    display: flex;
}

.task1_5_3 .left{
    width: 200px;
}

.task1_5_3 .mid{
    width: 200px;
}

.task1_5_3 .right{
    width: calc(100% - 400px);
}

.task1_5_4{
    display: grid;
    grid-template-columns: 200px 200px calc(100% - 400px);
}