body{
    font-family: Rubik,Arial;
}

#overlay{
    border: 1px solid rgb(0,0,0);
    border-radius: 40px;
    /* height: 95vh; */
    margin: 3% auto;
    width: 80%;
    max-width: 600px;
}

#logo{
    display: block;
    height: 100px;
    line-height: 100px;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}


.submitBtn:hover{
    background-color: rgb(200,200,200);
    border: 1px solid rgb(50,50,50);
}

.submitBtn,.submitBtn:active{
    display: block;
    margin: auto;
    background-color: rgb(239,239,239);
    border-radius: 10px;
    border: 1px solid rgb(100,100,100);
    margin-bottom: 20px;
}

form ul{
    list-style-type: None;
}

.myForm hr{
    width: 15%;
    margin: 5px auto;
}

.myForm{
    display: block;
}



form .label_up-wrapper{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .label_left-wrapper{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}