.task1 p::first-letter{
    float: left;
    font-size: 60px;
    font-weight: bolder;
    color: aqua;
}
.task1 p{
    width: 300px;
}

.task1{
    visibility: hidden;
}

.task2 article img{
    float: left;
    object-fit: cover;
    /* margin: 10px 10px 0 10px; */
    padding: 10px;
    
}

.task2 article{
    overflow: hidden;
    background-color: #eee;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.task2 article .text{
    clear: both;
}

.task3{
    font-size: 24px;
    font-weight: bold;
    
    text-align: center;
    
}


.task3 .float_foot{
    clear: both;
}

.task3 .float_head,.task3 .floatl,.task3 .floatr,.task3 .float_foot{
    background-color: #D31F3D;
    border-radius: 10px;
    margin: 0.5%;
    height: 99%;
}

.task3 .float-mid-wrapper{
    height: 200px;
    margin: 1%;
    padding: 1%;
}


.task3 .float-wrapper,.task3 .float-mid-wrapper{
    border: 3px solid #D31F3D;
    border-radius: 10px;
}

.task3 .floatl{
    float: left;
    width: 10%;
    margin: 0;
    box-sizing: border-box;
    line-height: 198px;
}

.task3 .floatmid{
    float: left;
    width: 78%;
    border-radius: 10px;
    
    border: 3px solid #D31F3D;
    height: 99%;
    margin-left: 1%;
    box-sizing: border-box;
    line-height: 198px;
}

.task3 .floatr{
    float: right;
    width: 10%;
    margin: 0;
    box-sizing: border-box;
    line-height: 198px;
    
}

.task3 .float_head,.task3 .float_foot{
    height: 50px;
    /* line-height: 50px; */
    vertical-align: middle;
}

