.nav{
    display: flex;
    position: sticky;
    top:0;
    left: 0;
    margin: 0 auto auto 0;
    padding: 0;
}

.nav li{
    list-style-type: none;
    overflow: hidden;
    
}


.nav li a:link,.nav li a:visited
{
    display:block;
    width:140px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#bebebe;
    text-align:center;
    padding: 15px;
    text-decoration:none;
    text-transform:uppercase;
    }
.nav li a:hover,.nav li a:active
{
    background-color:#e6e6e6;
}

.chapter-wrapper{
    width: 100%;
    height: 100%;
    padding-top: 1px;
}


.chapter-wrapper:nth-of-type(2n){
    background-color: rgb(247, 245, 245);
}

.chapter-wrapper:nth-of-type(2n+1){
    background-color: rgb(235, 235, 235);
}

h2{
    margin-top: -60px;
    padding: 60px 0 0 0;
}
.basic-information-wrapper{
    display: grid;
    grid-template-columns: 250px 250px;
}

.basic-information-wrapper li{
    list-style-type: square;
}

.myName{
    font-size: 22px;
    font-weight: bold;
    color: #031E5F;
    margin-left: 30px;
}

.myPhoto{
    height:130px;
    
}

.basic-information-photo-wrapper{
    display: flex;
}

p{
    margin: 0px;
}

.educational-experience li{
    list-style-type: square;
    margin:0;
}

.educational-experience{
    margin: 0px;
    padding-bottom: 16px;
}

.educational-experience-wrapper{
    display: flex;
}
.educational-experience-time{
    margin: 0;
}

.educational-experience-time li{
    list-style-type: none;
}

