/* #region 基础设置 */
body{
    font-family: "PingFang SC",serif;
    color: #333;
}

.container{
    width: 1190px;
    margin: 0 auto; 
}

li a{
    color: #333;
}
/* #endregion 基础设置 */


/* #region topbar顶部导航条 */
.topbar{
    height: 30px;
    line-height: 30px;
    background-color: #ECECEC;
    color: #666666;

}

.topbar-left{
    font-size: 0;
    height: 30px;
}

.topbar-left span,.topbar-left a{
    font-size: 12px;
}

.topbar-left span:first-of-type{
    margin-right: 28px;
}

.topbar-left a:first-of-type{
    border-right: 1px solid #666666;
    padding-right: 10px;
}

.topbar-left a:last-of-type{
    padding-left: 10px;
}

.topbar-right ul li{
    float: left;
}

.topbar-right ul li a{
    border-right: 1px solid #666666;
    padding:0 15px;
}

.topbar-right ul li:first-child a{
    padding-left: 0;
}

.topbar-right ul li:last-child a{
    padding-right: 0;
    border: none;
}
/* #endregion topbar */

/* #region Header头部 */
.header{
    /* background-color: skyblue; */
    height: 120px;
}

.header .search{
    font-size: 0;
    margin-top: 42px;
}

.header .search input{
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}

.header .search button{
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url(../../imgs/serch_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* #endregion Header */



/* #region main-nav主导航 */
.main-nav{
    height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav .all-types{
    background-color: #DD302D;
    height: 48px;
    width: 190px;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
}

.main-nav .main-nav-list{
    font-size: 16px;
    height: 48px;
    line-height: 48px;
}

.main-nav .main-nav-list li{
    float: left;
    margin: 0 10px;
    
}
/* #endregion 主导航 */

/* #region main-content主内容区 */
.main-content{
    height: 458px;
    margin-top: 10px;
    
}
/* 左侧start */
.main-content .slide-nav{
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;
    padding-top: 5px;
    position: relative;
    /* overflow: hidden; */
}

.main-content .slide-nav li{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}

.main-content .slide-nav li:hover{
    background-color: #DD302D;
}

.main-content .slide-nav li:hover>a{
    color: white;
}

.main-content .slide-nav li:hover .second-menu{
    display: block;
}

.main-content .second-menu{
    position: absolute;
    background-color: #fff;
    width: 680px;
    height: 458px;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}


.main-content .second-menu dl{
    height: 36px;
    line-height: 36px;
}

.main-content .second-menu dl:first-child{
    margin-top: 10px;
}


.main-content .second-menu dt{
    float: left;
    font-weight: bold;
    width: 70px;
    height: 36px;
    margin-right: 10px;
    color: #000;
}

.main-content .second-menu dd{
    float: left;
}

.main-content .second-menu dd a{
    padding: 0 10px;
    border-left: 1px solid #999999;
}

/* 左侧end */

/* 中间start */
.main-content .banner{
    width: 690px;
    height: 458px;
    /* background-color: skyblue; */
    margin: 0 10px;  
}
/* 中间end */

/* 右侧start */
.main-content .slide-other{
    width: 290px; 
    height: 458px;
    
}

.slide-other .message{
    width: 260px;
    height: 156px;
    padding: 0 14px;
    /* background-color: orange; */
    border: 1px solid #D9D9D9;
}
.slide-other .message .title{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;
}

.slide-other .message .title span{
    float: left;
    font-size: 14px;
    font-weight: bold;
}

.slide-other .message .title a{
    float: right;
    
}

.slide-other .message .msg-list{

}

.slide-other .message .msg-list li{
    height: 26px;
    line-height: 26px;
}

.slide-other .message .msg-list li:first-child{
    margin-top: 2px;
}


.slide-other .slide-other-nav{
    width: 290px;
    height: 290px;
    /* background-color: gray; */
    margin-top: 10px;
    padding:16px 0;
}

.other-nav-list{
    text-align: center;
}

.other-nav-list li{
    /* background-color: skyblue; */
    width: 48px;
    height: 80px;
    float: left;
    margin: 0 11px;
    cursor: pointer;
}

.other-nav-list li:first-child{
    margin-left: 16px;
}

.other-nav-list:nth-child(2){
    margin: 17px 0;
}

.other-nav-list .picture{
    height: 48px;
    width: 48px;
    background-image: url(../../imgs/精灵图-侧边功能.png);
}

.other-nav-list li span{
    font-weight: bold;
}

.other-nav-list:nth-child(1) li:nth-child(1) .picture{
    background-position: 0 0;
}
.other-nav-list:nth-child(1) li:nth-child(2) .picture{
    background-position: -48px 0;
}
.other-nav-list:nth-child(1) li:nth-child(3) .picture{
    background-position: -96px 0;
}
.other-nav-list:nth-child(1) li:nth-child(4) .picture{
    background-position: -144px 0;
}

.other-nav-list:nth-child(2) li:nth-child(1) .picture{
    background-position: 0 -48px;
}
.other-nav-list:nth-child(2) li:nth-child(2) .picture{
    background-position: -48px -48px;
}
.other-nav-list:nth-child(2) li:nth-child(3) .picture{
    background-position: -96px -48px;
}
.other-nav-list:nth-child(2) li:nth-child(4) .picture{
    background-position: -144px -48px;
}

.other-nav-list:nth-child(3) li:nth-child(1) .picture{
    background-position: 0 -96px;
}
.other-nav-list:nth-child(3) li:nth-child(2) .picture{
    background-position: -48px -96px;
}
.other-nav-list:nth-child(3) li:nth-child(3) .picture{
    background-position: -96px -96px;
}
.other-nav-list:nth-child(3) li:nth-child(4) .picture{
    background-position: -144px -96px;
}







/* 右侧end */
/* #endregion main-content主内容区 */

/* #region seckill秒杀区 */
.seckill{
    margin-top: 10px;
}
.seckill img{
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.seckill img:last-child{
    margin-right: 0;
}

/* #endregion seckill秒杀区 */
