.wrapper{
    width: auto;
    column-count: 4;
    column-gap: 0px;
    column-width: 200px;
    width: 850px;
    border: 2px solid red;
}

.item{
    width: 200px;
}

.item img{
    width: 100%;
}

.wrapper_grid{
    display: grid;
    border: 2px solid red;
    grid-template-columns: repeat(3,1fr);
    width: 630px;
    gap: 10px;
    
}

.wrapper_grid .item{
    grid-row-start: auto;
    grid-row-end: span 30;
}

.wrapper_grid .item:nth-of-type(2){
    grid-row-start: auto;
    grid-row-end: span 20;
}